$text-color : #d1d1d1;
$primary-color : #f4f4f4;
$secondary-color : rgb(29, 26, 26);
nav
{
    .navbar-header{
        img{
            width: 30px;
            height: 30px;
            margin-top: -5px;
        }
    }
}

.bg-img{
    width: 100%;
    img{
        width: 200px;
        height: 200px;
        margin-left: 100px;
    }

}
@media screen and (max-width : 375px){
    .bg-img{
        img{
            width: 120px;
            height: 120px;
            margin: 20px;
            margin-left: 100px;
        }
    
    }
}


// offers section

.offers{
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .box{
        border-top-left-radius: 5px;
        padding-left: 22px;
        margin-bottom: 30px;
        // padding: 20px;
        box-shadow: 1px 2px 1px 2px $text-color;

        img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-left: -20px;
            width: 250px;
        }
        .content{
            h2{
                color: #6e6a6a;
            }
            button{
                margin : 18px 0px;
            }
        }
    }

    .button{

        button{
            color: $text-color;
        }   
    }
}
@media(min-width : 600px){
    .offers{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }    
}
